{% extends 'mainapp/base.html' %}
{% block content %}
    <div class="container mt-5" id="app">
        <h3 class="mb-3">Boards</h3>

        <button id="createBoardBtn" type="button" class="btn btn-app">New Board</button>

        <div id="createBoard" class="mt-3 mb-2" style="display: none;">
            <h4>Create new board</h4>
            <form id="createBoardForm" @submit="createBoard" class="form-short"
                  style=" border: none" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input name="name" v-model="name" placeholder="Board's name" class="form-control" type="text">

                </div>
                <div class="form-group">
                    <select name="type" v-model="type" class="form-control">
                        <option value="">Board's type</option>
                        {% for type in board_types %}
                            <option value="{{ type.0 }}">{{ type.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" v-model="csrf" value="{{ csrf }}">

                <input type="submit" class="btn btn-app">
            </form>
        </div>


        <div class="boards mt-3">
            {% for board in boards %}
                <div class="board">
                    <h5>
                        <a href="{% url 'main:board' board.author.username board.id %}">
                            {{ board.name }}
                        </a>
                    </h5>
                    <p class="disabled">
                        {{ board.author.username }}
                    </p>
                </div>
            {% endfor %}

            <h3 class="mt-5">Your teams</h3>

            {% for teammate_board in teammate_boards %}
                <div class="board">
                    <h4>
                        <a href="{% url 'main:board' teammate_board.board.author.username teammate_board.board.id %}">
                            {{ teammate_board.board.name }}

                        </a>
                    </h4>
                    <h6>
                        {{ teammate_board.board.type }}
                    </h6>
                    <p>
                        {{ teammate_board.board.author.username }}
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: "",
                type: "",
                csrf: ""
            },
            methods: {
                createBoard: function (e) {
                    e.preventDefault();
                    console.log(this.name);
                    console.log(this.type);

                    axios({
                            method: 'post',
                            url: "/api/{{ request.user.username }}/boards/",
                            data: JSON.stringify({
                                name: this.name,
                                type: this.type
                            }),
                            headers: {
                                "X-CSRFToken": this.csrf,
                                "Content-Type": "application/json"
                            },
                        })
                        .then(response => {
                            console.log(response);
                            if (response.status === 200) {
                                document.location = `{{ request.user.username }}/${response.data.id}/`;
                            }
                        })
                }
            }
        })
    </script>
    <script>
        $("#createBoardBtn").click(function () {
            $("#createBoard").toggle();
        });
    </script>

{% endblock %}